* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --cor-payroll: rgb(132, 14, 201);
    --cor-btn-slc: rgb(160, 100, 200);
    --cor-txt-btn: #FFFFFF;
    --sombra-form: 0px 15px 20px rgba(0,0,0,0.2);
    --fundo-form: #FFFFFF;
    --cor-logo: #9fa4a8;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2vw;
}

.cabecalho h1 {
    color: var(--cor-txt-btn);
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho .btn-sair {
    border: none;
}

.btn-sair-img {
    width: 15px;
    height: 15px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    width: 3vw;
    color: var(--cor-logo);
}

.logo-img {
    width: 5vw
}

.sair-img {
    width: 12px;
}

.cabecalho nav li a {
    padding: 12px 10px;
    background-color: transparent;
    margin: 10px;
    border-radius: 10px;
    border: 1.5px solid;
    border-color: var(--cor-txt-btn);
    color: var(--cor-txt-btn);
}

.cabecalho nav li a:hover{
    /* background-color: var(--cor-btn-slc); */
    color: var(--cor-btn-slc);
    border-color: var(--cor-btn-slc);
    transition: 0.3s;
    cursor: pointer;
}

.fundo-img {
    position: absolute; /* coloca o elemento em uma camada diferente */
    z-index: -1; /* seleciona a camada que o elemento deve ser posicionado */
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* ajusta o video no tamanho certo da tela */
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 8vw;
}

.ferias-img {
    width: 25vw;
}

.form__dem {
    text-align: center;
    background-color: var(--fundo-form);
    border-radius: 15px;
    padding: 12px;
    box-shadow: var(--sombra-form);
}

.form-btn {
    color: var(--cor-txt-btn);
    background-color: var(--cor-payroll);
    width: 400px;
    height: 45px;
    margin: 25px;
    border-radius: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.img-btn {
    width: 1.3vw;
    height: 3vh;
}