* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-payroll: rgb(132, 14, 201);
    --cor-btn-slc: rgb(160, 100, 200);
    --cor-txt-btn: #FFFFFF;
}

.cabecalho {
    display: flex;
    justify-content: space-between;

}

.menu {
    flex-direction: row;
}

.menu li {
    text-decoration: none;

}

.container {
    display: flex;
    margin-top: 175px;
}

.img-ptn {
    margin-left: 10px;
    width: 50vw;
}

.registro {
    color: var(--cor-txt-btn);
    background-color: var(--cor-payroll);
    width: 400px;
    margin: 25px;
    border-radius: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.registro:hover {
    background-color: var(--cor-btn-slc);
    transition: 0.2s;
}

.img-ponto {
    width: 20px;
    margin-top: 5px;
}