* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --cor-payroll: rgb(132, 14, 201);
    --cor-btn-slc: rgb(160, 100, 200);
    --cor-txt-btn: #FFFFFF;
    --sombra-form: 0px 15px 20px rgba(0,0,0,0.2);
    --fundo-form: #FFFFFF;
    --cor-logo: #9fa4a8;
    --cor-clk: rgb(50, 5, 75);
}

#title {
    flex-direction: column;
    line-height: 10px;
}

#login-btn {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#login-btn:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

img {
    width: 600px;
}

a {
    color: rgb(132, 13, 201);
}

a:hover {
    color: rgb(156, 156, 156);
    transition: 0.3s all;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    width: 3vw;
    color: var(--cor-logo);
}

.logo-img {
    width: 5vw;
}