@media screen and (max-width: 760px) {
    header {
        flex-direction: column;
    }
    main {
        flex-direction: column;
    }
    h2 {
        font-size: 38px;
    }
    form {
        align-self: center;
        width: 100%;
    }
    img {
        display: none
    }
    ul {
        text-align: center;
    }
}